body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #00698f;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #00698f;
}